@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-primary;
  @apply font-black;
  @apply font-primary;
  @apply tracking-wider;
}
p {
  @apply text-neutral;
  @apply font-secondary;
}
input {
  @apply rounded;
  background-color: #d9d9d9;
}

.btn {
  @apply block;
  @apply text-primary;
  @apply font-primary;
  @apply text-2xl;
  @apply font-black;
  @apply bg-accent;
  @apply px-8;
  @apply py-5;
  @apply rounded;
  @apply shadow-md;
  @apply hover:bg-btn-hover;
}

.btn-contact {
  padding: 18px 92px 18px 49px;
  position: relative;
}

.btn-contact::after {
  content: url("/src/images/arrow-circle-right.svg");
  position: absolute;
  right: 35px;
}

.header-accent {
  position: relative;
}

.header-accent::before {
  content: url("/src/images/grib-mobile.svg");
  position: absolute;
  right: -65px;
  top: -5px;
  z-index: -1;
}

@media (min-width: 768px) {
  .header-accent::before {
    content: url("/src/images/grib-tablet.svg");
    right: -100px;
    top: -10px;
  }
}

.title-accent {
  position: relative;
}

.title-accent::after {
  content: url("/src/images/Frame.svg");
  position: absolute;
  bottom: -32px;
  right: -64px;
  z-index: -1;
}

@media (min-width: 768px) {
  .form-control::after {
    right: 52px;
    top: 135px;
  }

  .form-control::before {
    right: 52px;
    top: 20px;
  }
}

.adress-input:focus {
  @apply outline-none;
  @apply ring-4;
  @apply ring-accent;
}

.dotes-container > * {
  cursor: pointer;
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid;
  @apply border-primary;
}

.dotes-container .tns-nav-active {
  @apply bg-primary;
}

@media (min-width: 1024px) {
  .feature-2 {
    margin-top: -30px !important;
  }
}
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.fade {
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.fade-right {
  transform: translateX(50px);
}

.fade-left {
  transform: translateX(-50px);
}

.fade-up {
  transform: translateY(50px);
}

.in-view {
  transform: none;
  opacity: 1;
}

.in-view.fade-up,
.in-view .fade-up {
  transform: none;
  opacity: 1;
}
